<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="imageboardSQL">
  <resultMap type="imageboard.bean.ImageboardDTO" id="imageboard">
    <result property="seq" column="SEQ"/>
    <result property="imageId" column="IMAGEID"/>
    <result property="imageName" column="IMAGENAME"/>
    <result property="imagePrice" column="IMAGEPRICE"/>
    <result property="imageQty" column="IMAGEQTY"/>
    <result property="imageContent" column="IMAGECONTENT"/>
    <result property="image1" column="IMAGE1"/>
    <result property="logtime" column="LOGTIME"/>
  </resultMap>
  <insert id="imageboardWrite" parameterType="imageboard">
    INSERT INTO imageboard VALUES(seq_imageboard.NEXTVAL,
                                  #{imageId}, 
                                  #{imageName}, 
                                  #{imagePrice}, 
                                  #{imageQty}, 
                                  #{imageContent}, 
                                  #{image1},                                   
                                  SYSDATE)
  </insert>
  <select id="getImageboardList" parameterType="java.util.Map" resultMap="imageboard">
    SELECT * 
      FROM (SELECT ROWNUM rn, 
                   tt.* 
              FROM (SELECT * 
                      FROM imageboard 
                     ORDER BY seq DESC)tt)
             WHERE rn <![CDATA[>=]]> #{startNum}
                   AND rn <![CDATA[<=]]>#{endNum}
  </select>
  
  <select id="getImageBoardTotalA" resultType="int">
    SELECT COUNT(*) FROM imageboard
  </select>
  
  <select id="getImageBoardView" parameterType="int" resultMap="imageboard">
    SELECT *
      FROM imageboard
     WHERE seq = #{seq}
  </select>
  <delete id="delete" parameterType="java.util.Arrays">
    DELETE FROM imageboard WHERE seq IN
    <foreach collection="array" item="seq" index="index" separator="," open="(" close=")">
        #{seq }
    </foreach>

  </delete>
</mapper>
